* {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

/* Navigation section start */

.header {}

.header-navigation {}

.header-navigation-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    line-height: 1.17;
    text-transform: uppercase;
}

.header-navigation-logo-simple {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     color: #2e2f42;
     font-size: 18px;
     letter-spacing: 0.54px;
     line-height: 1.17;
     text-transform: uppercase;
}

.header-navigation-list {}

.header-navigation-list-item {}

.header-navigation-list-item-anchor {
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-navigation-list-item-anchor:hover {
    color: #404bbf;
}

.header-navigation-list-item-anchor:focus {
    color: #404bbf;
}


.header-contacts-address {
    font-style: normal;
}

.header-contacts-address-list {}

.header-contacts-address-list-link {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.header-contacts-address-list-link:hover {
    color: #404bbf;
}

.header-contacts-address-list-link:focus {
    color: #404bbf;
}


/* Navigation section end */

/* Hero-banner section start */
.hero-banner {
    background-color: #2e2f42;
}

.hero-banner-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;

}

.hero-banner-button {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
}

.hero-banner-button:hover {
    background-color: #404BBF;
}

.hero-banner-button:focus {
    background-color: #404BBF;
}


/* Hero-banner section end */

/* Benefits section start */

.benefits {}

.benefits-list {}

.benefits-list-item {}

.benefits-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.benefits-list-item-text {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Benefits section end */

/* Team section start */

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    color: #2e2f42;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {}

.team-list-item {
    background-color: #fff;
}

.team-list-item-image {}

.team-list-item-title {
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.team-list-item-text {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Team section end */

/* Portfolio section start */

.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    color: #2e2f42;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list {}

.portfolio-list-item {
    background-color: #fff;
}

.portfolio-list-item-image {}

.portfolio-list-item-title {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-list-item-text {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Portfolio section end */

/* Footer section start */

.bottom {
    background-color: #2e2f42;
}

.bottom-anchor {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    line-height: 21px;
    text-transform: uppercase;
    line-height: 1.17;
}

.bottom-anchor-simple {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #f4f4fd;
    font-size: 18px;
    letter-spacing: 0.54px;
    line-height: 21px;
    text-transform: uppercase;
    line-height: 1.17;
}

.bottom-text {
    font-weight: 400;
    font-size: 16px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Footer section end */